@page
@model Grill1.Pages.Forms.AdminPageModel
@{

	<form method="post">

<p>
		<label> Pruduct name</label>
			<input type="text" name="ProductName">
		</p>
		<p>
		<label> Pruduct prize</label>
			<input type="text" name="ProductDescription">
		</p>
		<p>
		<label> Pruduct description</label>
			<input type="text" name="ProductPrize">
		</p>

		<input type="submit" value="Submit">

	</form>

}
