html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.banner {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

.banner_content {
    position: absolute;
    background: white;
    width: 400px;
    padding: 1em 2em;
    border-radius: 4px;
    border: 2px solid #000;
    min-height: 40vh;
    min-width: 100vh;
}

.banner:target {
   visibility: visible;
   opacity: 1;
}
.banner_image {
    float: left
}
.banner_name {
    float: right
}

.banner_desc {
    float: right
}

.banner_prize {
    float: right
}

.banner_NDPlist {
    display: grid;
}

.banner-close {
    position: absolute;
    top: 0;
    right: 15px;
    color: #fe0606;
    text-decoration: none;
    font-size: 30px;
}

.banner a {
    display: inline-block;
    background-color: #fff;
    padding: 15px;
    border-radius: 3px;
}

.image {

    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    width: initial;
    height: initial; 
    background: none; 
    opacity: 1;
    border: 0px; 
    margin: 0px; 
    padding: 0px;
    position: relative; 
    max-width: 100%;
}

.productContaner {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.productDiscContaner {

}

.productPrize {

}

.productName {

}
.productNameContaner {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.productDisc {

}
.extraDisc:target {
    visibility: visible;
}

/*Grill 1 Stolen and Edited Css*/
.mainHome_link {
    display: block;
    width: 100%;
    text-align: center;
    padding: 104px 16px 0;
    font-weight: 600;
    color: #333;
    position: relative;
    height: 100%;
    overflow: hidden
}
.mainHome_item {

    display: block;
    min-height: 142px;
    width: 148px;
    border-right: 1px solid #e3e3e3;
    position: relative;
    cursor: pointer
}

.mainHome_list {
   
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    border-radius: 16px;
    border: 1px solid #e3e3e3;
    max-width: -moz-max-content;
    max-width: max-content;
}

.mainHome_products__header {

    width: 1180px;
    font-family: PF Bague Sans Pro,sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    padding: 0;
    margin: 0 auto 24px;
    display: flex
}

.mainHome_products__header sup {

    font-family: Montserrat,sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #999
}

.mainHome_products__list {
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4,280px);
    grid-column-gap: 20px;
    grid-row-gap: 24px
}

.styles_productCard {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 24px;
    position: relative;
    height: 424px
}
.styles_productCard__imgWrapper {
    height: 248px
}
.styles_productCard__header {
    padding: 0;
    margin: 8px 0 0;
    font-weight: 600;
    font-size: 16px;
    color: #333;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    box-orient: vertical;
    line-clamp: 2
}
/*Grill 1 Stolen and Edited Css*/