@page 
@model WebApplication1.Pages.PizzaModel
@{
}

<a class="btn btn-primary" asp-area="" asp-page="Forms/CustomPizza">CustomPizza</a>
<a class="btn btn-primary" asp-area="" asp-page="/Checkout/Checkout">Checkout</a>

	